<!-- The open menu button -->
<span class="menu-open" ng-click="altoMenuController.showHideMenu(altoMenuController.isMenuVisible)" ng-class="{'active': altoMenuController.isMenuVisible}">
    <span class="menu-ico-1"></span>
    <span class="menu-ico-2"></span>
    <span class="menu-ico-3"></span>
    <span class="menu-open-title">
        <span class="menu-open-title-char-1">M</span>
        <span class="menu-open-title-char-2">e</span>
        <span class="menu-open-title-char-3">n</span>
        <span class="menu-open-title-char-4">u</span>
    </span>
</span>

<!-- The menu -->
<nav role="navigation" ng-if="altoMenuController.isMenuVisible">

    <!-- Display this menu when the user is not conencted -->
    <ul ng-if="!altoMenuController.isUserConnected(altoMenuController.user)">
        <li>
            <a ui-sref="home" ng-click="altoMenuController.showHideMenu(altoMenuController.isMenuVisible)">Home</a>
        </li>
        <li>
            <a ui-sref="signIn" ng-click="altoMenuController.showHideMenu(altoMenuController.isMenuVisible)">Sign In</a>
        </li>
        <!--<li>
            <a ui-sref="register" ng-click="altoMenuController.showHideMenu(altoMenuController.isMenuVisible)">Register</a>
        </li>-->
    </ul>

    <!-- Display this menu when the user is conencted -->
    <ul ng-if="altoMenuController.isUserConnected(altoMenuController.user)">
        <li>
            <a ui-sref="signOut" ng-click="altoMenuController.showHideMenu(altoMenuController.isMenuVisible)">Sign out</a>
        </li>
        <li>
            <a ui-sref="projects" ng-click="altoMenuController.showHideMenu(altoMenuController.isMenuVisible)">Projects</a>
        </li>
       <!-- <li>
            <a ui-sref="openSourceProjects" ng-click="altoMenuController.showHideMenu(altoMenuController.isMenuVisible)">Open Source Projects</a>
        </li>
        <li>
            <a ui-sref="userAccount" ng-click="altoMenuController.showHideMenu(altoMenuController.isMenuVisible)">Your account</a>
        </li>-->
    </ul>
</nav>