<span class="menu-open" ng-click="altoMenuController.showMenu()">
    <span class="menu-ico-1"></span>
    <span class="menu-ico-2"></span>
    <span class="menu-ico-3"></span>
    <span class="menu-open-title">
        <span class="menu-open-title-char-1">M</span>
        <span class="menu-open-title-char-2">e</span>
        <span class="menu-open-title-char-3">n</span>
        <span class="menu-open-title-char-4">u</span>
    </span>
</span>

<nav role="navigation" ng-if="altoMenuController.isMenuVisible">
    <span class="navigation-close" ng-click="altoMenuController.hideMenu()">Fermer</span>
    <ul ng-if="!altoMenuController.user">
        <li>
            <a ui-sref="home" ng-click="altoMenuController.hideMenu()">Home</a>
        </li>
        <li>
            <a ui-sref="signin" ng-click="altoMenuController.hideMenu()">Sign In</a>
        </li>
        <li>
            <a ui-sref="signup" ng-click="altoMenuController.hideMenu()">Sign Up</a>
        </li>
    </ul>
    <ul ng-if="altoMenuController.user">
        <li>
            <a ui-sref="signoff" ng-click="altoMenuController.hideMenu()">Sign Off</a>
        </li>
    </ul>
</nav>