<span class="menu-open" ng-click="altoMenuController.isMenuVisible=true">
    <span class="menu-ico-1"></span>
    <span class="menu-ico-2"></span>
    <span class="menu-ico-3"></span>
    <span class="menu-open-title">
        <span class="menu-open-title-char-1">M</span>
        <span class="menu-open-title-char-2">e</span>
        <span class="menu-open-title-char-3">n</span>
        <span class="menu-open-title-char-4">u</span>
    </span>
</span>

<nav role="navigation" ng-if="altoMenuController.isMenuVisible">
    <span class="navigation-close" ng-click="altoMenuController.isMenuVisible = false">Fermer</span>
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Sign In</a>
        </li>
        <li>
            <a href="#">Sign Up</a>
        </li>
    </ul>
</nav>